.navbar-dark .navbar-nav .nav-link{
    color: rgb(255 255 255) !important;
    font-weight: 500;
    padding-left: 2rem;
}
.footer .footer-link a{
    display: flex;
    flex-direction: column;
    color: white;
    text-decoration: none;
}